<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BigEye.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CA4F9DF1E987E9100CABAA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA4F9F81E987E9200CABAA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA4FA031E987E9300CABAA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
